WindowsFormsQuidditch/Service References/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CompositeType" nillable="true" type="tns:CompositeType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCompositeType" nillable="true" type="tns:ArrayOfCompositeType" />
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Arbitre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Coupe" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EquipeDomicile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EquipeVisiteur" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Prix" type="xs:double" />
      <xs:element minOccurs="0" name="ScoreEquipeDomicile" type="xs:int" />
      <xs:element minOccurs="0" name="ScoreEquipeVisiteur" type="xs:int" />
      <xs:element minOccurs="0" name="Stade" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
</xs:schema>